<div class="flex flex-col w-[164px] h-[177px] overflow-hidden rounded-lg bg-white shadow-md">
  <img src="<%= imageRef %>" class="object-cover w-full h-[50%]" />
  <div class="flex flex-col justify-center w-full text-center items-center h-full">
    <span class="text-sm font-normal capitalize text-black"><%= title %></span>
    <span class="text-zinc-500 text-sm font-normal capitalize"><%= subtitle %></span>
  </div>
</div>
