<button
  class="w-[190px] bg-orange-400 rounded-[20px] text-white text-sm font-normal capitalize flex items-center gap-x-4 px-[25px] py-3"
>
  <span class="w-5 h-5 inline-block"> <%- icon %> </span>
  <%= title %>
</button>
