<div class="flex items-center">
  <input
    id="<%=id %>"
    name="sizes[]"
    value="<%= value %>"
    type="checkbox"
    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
  />
  <label for="sizes-0" class="ml-3 text-sm text-gray-600"><%= label %></label>
</div>
